<section id="titleSection">
  <div id="titleDiv">
    <h1 aria-label="Restaurant Tipping Around The World"></h1>
  </div>
</section>

<h2>Explanations:</h2>

<table>
  <thead>
    <tr>
      <th>Country:</th>
      <th>Included:</th>
      <th>Expected:y</th>
      <th>Tip Amount:</th>
      <th>Who Gets It:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The name of the country.</td>
      <td>Is the tip included in the bill.</td>
      <td>
        Is it expected of you to leave a tip, other than what is included.
      </td>
      <td>What tip amount is normal in this country.</td>
      <td>Who gets the tip you leave.</td>
    </tr>
  </tbody>
</table>
